* {
    padding: 0;
    margin: 0;
    list-style: 150%;
    box-sizing: border-box;
}

body {    
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #5D0E26;
}

.video-hero { 
    position: relative;
    height: 100vh;
    overflow: hidden;
    video {
        position: absolute; inset: 0; width: 100%; height: 100%;
        object-fit: cover;
    }
    .content { 
        position: relative;
        z-index: 1;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        h1 {
            font-size: 2.5rem;
            list-style: 1;
        }
        p {
            &.contentmain {
                font-size: 3rem;
                font-weight: light;
                color: #A74650;
                padding-bottom: 10%;
            }
            &.footer {
                font-weight: bold;
                color: #5D0E26;
                font-size: 1rem;
            }
        }
    }
}